<robot name="link_demo">
    <!-- 定义颜色 -->
    <material name="yellow">
      <color rgba="0.7 0.7 0 0.8" />
    </material>
    <link name="base_link">
      <visual>
          <!-- 形状 -->
          <geometry>
              <!-- 长方体的长宽高 -->
              <box size="0.5 0.3 0.1" />
              <!-- 圆柱，半径和长度 -->
              <!-- <cylinder radius="0.5" length="1.0" /> -->
              <!-- 球体，半径-->
              <!-- <sphere radius="0.3" /> -->
  
          </geometry>
          <!-- xyz坐标 rpy翻滚俯仰与偏航角度(3.14=180度) -->
          <origin xyz="0 0 0" rpy="0 0 0" />
          <!-- 调用已定义的颜色 -->
          <material name="yellow"/>
      </visual>
    </link>
  </robot>