<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fouraxisrobot_kine">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fouraxisrobot_kine urdf file -->
    <xacro:include filename="$(find cpp06_urdf)/urdf/urdf/fouraxisrobot_kine.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="fouraxisrobot_kine.ros2_control.xacro" />


    <xacro:fouraxisrobot_kine_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
